<div style="display: flex;justify-content: center;align-items: center;flex-direction:row;height:calc(100vh - 300px);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 form">
			<h2>Edit your booking:</h2>
      <%= simple_form_for(@booking) do |f| %>
        <%= f.input :date, as: :string, label: "Start date", required: false, input_html: {class: "dater"} %>
        <div class="button-center">
          <%= f.button :submit, class: "text-white" %>
          </div>
        </div>
      <% end %>
		</div>
	</div>
</div>

