<div class="container-edit-form">
	<div class="positioning-form-edit">
		<div>
			<h2>Edit a Booking</h2>
      <%= simple_form_for(@booking) do |f| %>
        <%= f.input :date, as: :string, label: "Start date", required: false, input_html: {class: "dater"} %>
          <%= f.button :submit, class: "text-white" %>
        </div>
      <% end %>
		</div>
	</div>

