<footer class="newspaper-form">
  <form action="post">
    <div class="newspapper_title">
      <h3>Subscribe our newsletter</h3>
    </div>
      <!-- <label for="inputEmail" class="sr-only"></label> -->
      <div class="form-inline">
        <input type="email" placeholder="Email address" class="newspaper-body">
        <div class="newspaper-button">
        <button type="submit" class="btn-form">SEND</button>
        </div>
      </div>
  </form>
  <ul class="list-social-icons">
    <li class="social-icon"><i class="fab fa-instagram"></i></li>
    <li class="social-icon"><i class="fab fa-facebook"></i></li>
    <li class="social-icon"><i class="fab fa-twitter"></i></li>
  </ul>
</footer>
