<div class="title-container">
  <h1>Surf Companies</h1>
  <div class="container">
    <div class ="row">
      <div class="main-container">
        <% @surf_companies.each do |surf_company|  %>
          <%= link_to surf_company_path(surf_company), class:'card-link' do %>
            <div class="card-product">
              <img style="background-image: url('https://source.unsplash.com/featured/?{surf},{surfer}<%= (1..10000).to_a.sample %>');">
              <div class="card-product-infos">
                <h2><%= surf_company.name %> </h2>
                <p><%= surf_company.address %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class ="row">
      <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoidGs4OSIsImEiOiJjanM0am5ucTcwNWJ1NDlybjE0bjY2d2cyIn0.dn3MKkCKribiSJzuKy3KEw'>
    </div>
  </div>
</div>
