<div class="container-home">\
<section class="hero" id="hero">
    <div class="video-wrap">
        <video autoplay="autoplay" muted="muted" loop="loop" poster="media/img/vid-placeholder.jpg" class="bg-video">

        <source src="https://bouyahwatersports.com/wp-content/themes/bouyah/videos/iStock-636706690-1080.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container-text">
<!--         <div class="row hero-content text-center"> -->
<!--             <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
              <h1 class="display-2 mt-5 pt-5"> -->
                <div class="title">
              <h1>GET ON THE WATER TODAY</h1>
              </div>
<!--             </h1> -->
            <p class="lead">We offer lessons for all ages with top quality equiqment, an impeccable safety record, along with a service-oriented & safety-certified staff.</p>
            <a href="#" class="btn text-white">
              SELECT LOCATION
            </a>
<!--             </div> -->
<!--         </div> -->
    </div>
</section>
</div>





<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
