<div class="container-home">
<section>
    <div class="video-wrap">
        <video autoplay="autoplay" muted="muted" loop="loop" poster="media/img/vid-placeholder.jpg" class="bg-video">

        <source src="/assets/Surfer.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container-text">
                <div class="title" id="banner-typed">
              <h1><span id="banner-typed-text"></span></h1>
              </div>
            <p class="lead">Locate your beach. Find your surf shop. Book your lessons.</p>
            <%= link_to surf_companies_path do %>
              <button class="btn text-white">

                Select Location
              </button>
            <% end %>
    </div>
</section>
</div>
<div class="card-container">
<h2 class="card-name">What's on offer?</h2>
<div class="home-cards">
  <div class="card-element">
    <div class="img-card"><i class="fas fa-map-marker"></i></div>
    <h2 class="card-title">Precise locator</h2>
    <p class="card-content">Our location services let you find your dream surf house in Florida instantly</p>
  </div>
  <div class="card-element">
  <div class="img-card"><i class="fas fa-hands-helping"></i></div>
    <h2 class="card-title">Manage your bookings</h2>
    <p class="card-content">Come to us and manage your bookings. Pick a date, pick a time, get in the water!</p>
  </div>
  <div class="card-element">
  <div class="img-card"><i class="fas fa-snowboarding"></i></div>
    <h2 class="card-title">Professional Staff</h2>
    <p class="card-content">We've got a great community of surf instructors and equipment all at your finger tips</p>
  </div>
  </div>
</div>
</div>

