<div class="container-home">
<section>
    <div class="video-wrap">
        <video autoplay="autoplay" muted="muted" loop="loop" poster="media/img/vid-placeholder.jpg" class="bg-video">

        <source src="https://bouyahwatersports.com/wp-content/themes/bouyah/videos/iStock-636706690-1080.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container-text">
                <div class="title">
              <h1>GET ON THE WATER TODAY</h1>
              </div>
            <p class="lead">We offer lessons for all ages with top quality equiqment, an impeccable safety record, along with a service-oriented & safety-certified staff.</p>
            <%= link_to surf_companies_path do %>
              <button class="btn text-white">
                
                SELECT LOCATION
              </button>
            <% end %>
<!--             </div> -->
<!--         </div> -->

    </div>
</section>
</div>

<h2 class="card-name">We offering for you</h2>
<div class="home-cards">
  <div class="card-element">
    <div class="img-card"><i class="fas fa-hands-helping"></i></div>
    <h2 class="card-title">Lorem ipsum dolor sit.</h2>
    <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis numquam, tempora debitis odit! Omnis, cupiditate.</p>
  </div>
  <div class="card-element">
  <div class="img-card"><i class="fas fa-hands-helping"></i></div>
    <h2 class="card-title">Lorem ipsum dolor sit.</h2>
    <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis numquam, tempora debitis odit! Omnis, cupiditate.</p>
  </div>
  <div class="card-element">
  <div class="img-card"><i class="fas fa-hands-helping"></i></div>
    <h2 class="card-title">Lorem ipsum dolor sit.</h2>
    <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis numquam, tempora debitis odit! Omnis, cupiditate.</p>
  </div>
  </div>
</div>

