.container {
  // display: flex;
}

.details-container {
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.show-container {
	height: 100vh;
}

.bookings-container {
	height: 100vh;
}

.form {
 margin: auto;
 padding-top: 100px;
}

