
.show-company-container {
  display: flex;
  margin: 5px;
  justify-content: space-between;
}

.company-details-container {
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  width: 50%;

}

i.fas {
  font-size: 34px;
  color: #ED787A;
  margin-right: 16px;

}

.text-margin {
  margin-top: 24px;
}

.form {
 margin: auto;
 padding-top: 100px;
}

.positioning {
  padding: 50px;
  width: 40%;
  content-align: center;
}


.positioning h2 {
  margin-bottom: 20px;
}

.form-control {
  height: 50px;
}


// .btn-login {
//   height: 20px;
//   width: 40px;
// }

.bookings-container {
  margin-left: -13px;
}

