.footer-container {
  box-shadow: 0 -2px 2px 2px #3292a6;
  opacity: 0.9;
  background-color: #2b2b2b;
  box-sizing: border-box;
  color:white;
  align-items: center;
  height: 90px;
}


.lead {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 0px;
  text-align: center;
}

.list-social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
    i{
  font-size: 28px;
  padding: 8px;
  margin-top: 12px;
}
}

