.btn {
  -webkit-appearance: none;
    color: #FFF;
    background-color: #ED787A;
    padding: 20px 30px;
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0.10em;
    margin-top: 12px;
    &:hover {
    opacity: 0.8;
  }
  }

.container-home {
  position: relative;
}

.container-text {
  width: 100vw;
  position: absolute;
  top: 50px;
  color: white;
  text-align: center;
}

.bg-video {
    // height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    opacity: 1.4;
    background-color: rgba(0,0,0,0.35);
}

.title {
  font-size: 42px;
  margin-top: 100px;
}

.lead {
  font-size: 22px;
    line-height: 1.5em;
    margin-bottom: 27px
}
